<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="videocard">
            <h2><span jhiTranslate="courseworkApp.videocard.detail.title">Videocard</span> {{ videocard.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="courseworkApp.videocard.name">Name</span></dt>
                <dd>
                    <span>{{ videocard.name }}</span>
                </dd>
                <dt><span jhiTranslate="courseworkApp.videocard.power">Power</span></dt>
                <dd>
                    <span>{{ videocard.power }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/videocard', videocard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
