/* ==========================================================================
Main page styles
========================================================================== */

.crypto-image {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/bitcoin.png") no-repeat center top;
    background-size: contain;
}

.profitability-form-button-container {
    margin-top: 2%;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .crypto-image {
        background: url("../../content/images/bitcoin2x.png") no-repeat center top;
        background-size: contain;
    }
}

